/* Body */
body {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
/* p1 and p2 */
.p1 {
  font-size: 30px;
  color: rgb(232, 10, 10);
  text-align: center;
}
#p2 {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
/* p1 and p2 end */

/* footer started here */
.footer {
  background-color: rgb(84, 20, 130);
  padding: 70px;
  color: #fff;
}
.footer > footer {
  font-size: 20px;
  text-align: center;
}
.greenText {
  background-color: #e10f9b;
  padding: 20px;
}
.redText {
  background-image: url("./images/digital-transformation.jpg");
  position: center;

  padding: 20px;
}

.socialButton {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
/* profile picture */
.profile {
  background-color: green;
  padding: 20px;
  display: flex;
  align-items: center;
}
.info {
  margin: 20px;
  color: #fff;
}
.info > h1,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.profile_pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 2px white solid;
}
/* flexbox */
.flexbox {
  padding: 20px;
  padding: auto;
  background-color: #e10f9b;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  width:100%;
  
}
.red {
  height: 100px;
  width: 100px;
  background-color: red;
}
.green {
  height: 100px;
  width: 100px;
  background-color: green;
}
.yellow {
  height: 100px;
  width: 100px;
  background-color: rgb(234, 238, 6);
}
.red,
.yellow,
.green {
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}
